<form action="/download" method="post">
	<input type="text" name="movie" class="span3" placeholder="Movie to download…">
	<a class="btn btn-success" href="#">
		<i class="icon-ok icon-white"></i> Download
	</a>
</form>